{% load static %}
<html>
    <head>
        <title>Biblioteca</title>
        <link rel="stylesheet" href="{% static 'biblioteca/layout.css' %}">
    </head>
    <body>
        <header>
            <h1>Biblioteca da Lusofonía</h1>
            <nav>
                <a href="{% url 'autores' %}"><button>Autores</button></a>
                <a href="{% url 'generos' %}"><button>Géneros</button></a>
                <a href="{% url 'pesquisa-autor' %}"><button>Pesquisa Autor</button></a>
                
                <div class="user-actions">
                {% if request.user.is_authenticated %}
                    Username:{{request.user.username}}
                    <a href="{% url 'logout' %}"><button>Logout</button></a>
                {% else %}
                    <a href="{% url 'login' %}"><button>Login</button></a>
                {% endif %}
                </div>
            </nav>
        </header>

        <main>

            {% block content %}
            {% endblock %}

        </main>

        <footer>
            <p>Universidade Lusófona</p>
        </footer>
    </body>
</html>
